<link href="{{ asset('css/print.css') }}" rel="stylesheet" type="text/css" />   

<body>    
    <div id="muestra">

        <table width="auto" border="0" cellpadding="0" cellspacing="0">
            <tr class="cel" align="left">
                <td class="cel"><p>CUBATEL S.A <br> CODIGO: 161.0.60574</p></td>
                <td class="cel"><p>ANTICIPO Y LIQUIDACION DE GASTOS DE DIETAS</p></td>
                <td class="cel"><p>D</p></td>
                <td class="cel"><p>M</p></td>
                <td class="cel"><p>A</p></td>
            </tr>
            <tr class="cel" align="center">
                <td class="cel" colspan="2"><p>NOMBRE Y APELLIDOS</p></td>
                <td class="cel" colspan="3"><p>FUERA DE LA LOCALIDAD</p></td>
                <td class="cel" colspan="3"><p>EN LA LOCALIDAD</p></td>
            </tr>
        </table>
    </div>

</body>